/* Estilo geral para a página */
body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  /* Centralizar o conteúdo dentro da tela */
  div {
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    background: linear-gradient(135deg, #0500FF, #1C1C1C);
    color: #ffffff;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
  }
  
  /* Estilo do título */
  h1 {
    font-size: 2rem;
    margin-bottom: 20px;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ffffff;
  }
  
  /* Estilo do botão */
  button {
    background-color: #0500FF;
    color: white;
    border: none;
    padding: 15px 30px;
    border-radius: 25px;
    cursor: pointer;
    font-size: 1rem;
    transition: background-color 0.3s ease;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
  }
  
  button:hover {
    background-color: #1C1C1C;
  }
  
  /* Estilo quando o botão é desabilitado */
  button:disabled {
    background-color: #9E9E9E;
    cursor: not-allowed;
  }
  
  /* Animação para o botão */
  button {
    transform: translateY(0);
    transition: transform 0.3s ease;
  }
  
  button:hover {
    transform: translateY(-5px);
  }
  